/* navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0f0ee; /* gris con tinte turquesa */
  padding: 12px 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.brand {
  font-size: 1.6rem;
  color: #007f7f;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 25px;
}

.navbar-links a {
  text-decoration: none;
  color: #007f7f;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s;
}

.navbar-links a:hover,
.navbar-links a.active {
  color: #045f5f;
  border-bottom: 2px solid #045f5f;
  padding-bottom: 3px;
}
