<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página con Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>ManoDoc proyecto ElectronicaInformatica</h1>

    <P> Aca va a ir todo lo que es home, foto, diseno de la pagina </P>

    <div class="flex-container">
        <img src="{{ url_for('static', filename='manodoc.jpg') }}" alt="Servicio de doctor robotico" width="600">
    </div>

    





</body>
</html>
