<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ManoDoc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
</head>
<body>
    <nav class="navbar">
    <div class="logo">
        <img src="{{ url_for('static', filename='logo-manodoc.png') }}" alt="Logo">
        <span class="brand">MANODOC</span>
    </div>
    <div class="navbar-links">
        <a href="{{ url_for('paciente_bp.home_paciente') }}" class="{% if active_page == 'home' %}active{% endif %}">HOME</a>
        <a href="{{ url_for('paciente_bp.turnos_paciente') }}" class="{% if active_page == 'turnos' %}active{% endif %}">TURNOS</a>
        <a href="{{ url_for('paciente_bp.historial_paciente') }}" class="{% if active_page == 'historial' %}active{% endif %}">HISTORIAL</a>
        <a href="{{ url_for('paciente_bp.perfil_paciente') }}" class="{% if active_page == 'perfil' %}active{% endif %}">PERFIL</a>
    </div>
</nav>

    {% block content %}{% endblock %}
</body>
</html>
